body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: sans-serif;
	background: rgb(19,20,22);
}

.top-bar {
	display: flex;
	height: 65px;
	background: black;
	color: white;
	justify-content: space-between;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.top-bar. > .topbar-aligned-left-buttons {

}

.top-bar > .topbar-aligned-left-buttons > .site-logo {
	height: 55px;
	width: 150px;
	overflow: hidden;
	border: 5px solid black;
}

.top-bar > .topbar-aligned-left-buttons > .site-logo img {
	width: 150px;
	height: auto;
	filter: invert(1);
	margin-top: -25px;
}

.top-bar > .topbar-aligned-left-buttons > .navigation-buttons-stack {
	padding-left: 40px;
}

.top-bar > .topbar-aligned-left-buttons > .navigation-buttons-stack > .navigation-buttons-list {
	display: flex;
	flex-direction: row;
}

.top-bar > .topbar-aligned-left-buttons > .navigation-buttons-stack > .navigation-buttons-list > .navigation-buttons-list-item {
	padding-right: 15px;
	font-weight: bold;
}

.top-bar > .topbar-aligned-right-buttons > .topbar-button {
	padding: 10px 25px;
}

.top-bar > .topbar-aligned-right-buttons > .topbar-button-dropdown {
	padding: 10px 25px;
}

#explore-in-yellow-caps {
	margin-top: 10px;
	color: gold;
	font-size: 0.7em;
	font-weight: bold;
}

#spark-dropdown-menu {
	font-weight: normal;
	color: grey;
}

#spark-dropdown-menu > .fa-chevron-down i {
	filter: invert(1);
}

.top-bar > .topbar-aligned-left-buttons {
	display: flex;
	align-items: left;
}

.top-bar > .topbar-aligned-right-buttons {
	display: flex;
	justify-content: right;
}


.top-bar > .topbar-aligned-right-buttons > .topbar-button {
	background: rgb(40, 42, 48);
	color: white;
	padding-top: 15px;
	border-radius: 3px;
	font-size: 0.9em;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	
}

.top-bar > .topbar-aligned-right-buttons > .topbar-button-dropdown {
	background: rgb(40, 42, 48);
	color: white;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	font-size: 0.9em;
	font-weight: bold;
}

#topbar-button-dropdown-green {
	color: rgb(65,197,101);
}

.search-icon {
	padding-top: 7px;
	font-size: 1.8em;	
	margin: 10px;
	color: grey;
}


.content-area {
	padding-top: 30px;
	background-image: linear-gradient( to bottom right, grey, black);
	display: flex;
	justify-content: space-between;
}

.content-area > .left-side {
	width: 50%;
	margin-left: 50px;
}

#pWhatIsCodePen1 {
	color: white;
	font-size: 1.8em;
}

#pWhatIsCodePen2 {
	color: white;
	font-size: 1.5em;
	letter-spacing: 0.5px;
}

.content-area > .left-side > .content-area-lure-buttons {
	display: flex;
	align-items: left;
}

#signup-for-free-button {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	background: rgb(66, 199, 102);
	color: black;
	border-radius: 3px;
	font-size: 1.5em;
}

#learnmore-button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 15px;
	background: rgb(0, 0, 0);
	color: white;
	border-radius: 3px;
	font-size: 1.5em;
}

.content-area > .right-side {
	display: flex;
	flex-direction: column;
}


.content-area > .right-side > .image-header {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 5px;
	
}

.content-area > .right-side> .image-body {
}

#CodePenProjectsIsBlue {
	color: rgb(77,187,243);
	margin-left: 3px;
}

.bottom-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bottom-bar > .bottom-bar-element {
	border: 1px solid grey;
	text-align: center;
	color: white;
	font-size: 0.9em;
	background: rgb(40, 42, 48);
	padding-left: 5%;
	padding-right: 5%;
}

.bottom-bar > .bottom-bar-element b {
	font-family: 'Sirin Stencil', cursive;
	font-size: 1.3em;
}

.bottom-bar > .bottom-bar-element p {
	padding-left: 5px;
	padding-right: 5px;
}
